/.build/
/vendor/
/node_modules/
/composer.lock
/var

/tests/Application/yarn.lock
/tests/TestApplication/.env.local
/tests/TestApplication/.env.test.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache

/.claude/*.local.json

# Symfony CLI https://symfony.com/doc/current/setup/symfony_server.html#different-php-settings-per-project
/.php-version
/php.ini
